# Visual Studio
.vs/
*.user
*.suo

# Build intermediates
*/x64/
*/ipch/
*.obj
*.pdb
*.iobj
*.ipdb
*.recipe
*.log
*.tlog
*.lastbuildstate
*FileListAbsolute.txt
*.db

# Compiled output (except injector)
replace.png
异环呗果图片上传器.exe
*.zip
*.txt
bin2/
HTGame.in-game.photo.replacement/
HTGame.window.overlay.video/
lib/
src/resource.aps

HTGame.BAGEL.Image.Review.Kernel

异环自定义上传云控/
src/libs/
*.exp
*.lib